%p#notice= notice
%p#error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%p
  %b Reviews
  = render 'reviews/form'

= render reviews

= link_to 'Edit', edit_category_product_path(category.id, product.id)
\|
= link_to 'Back', category_products_path
