= simple_form_for [category, product, review] do |f|
  - if review.errors.any?
    #error_explanation
      %h2= "#{pluralize(review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - review.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.input :rating, collection: 1..5
  .actions
    = f.submit 'Save'
